{
    margin: 0;
    padding: 0; 
     font-family: century Gothic;
     
}
header{
    background-image: url(https://images.app.goo.gl/fHrWxMFpkT3eDsYS9);
height: 100vh;
background-size:cover ;
background-position: center;

}
ul{
    float: right;
    list-style-type: none;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    colour:#fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    }